#edrop-1 {
  
  position: absolute;
  height: 50%;
  width: 50%;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
  padding: 2%;
  border-radius: 13px;
  background-color: lightgray;
  
}

.edrop-tbox {
  
  padding: 5px;
  font-size: 120%;
  font-family: sans-serif;
  border: none;
  border-radius: 5px;
  background-color: #FFF;
  
}

.edrop-tbox:focus {
  
  outline: none;
  border: 1px solid #DDD;
  
}

.edrop-optbox {
  
  display: none;
  max-height: 7em;
  background-color: #FFF;
  
}
