#edrop-1 {

  position: absolute;
  width: 50%;
  top: 25%;
  left: 25%;

}

.edrop-tbox {

  padding: 5px;
  box-sizing: border-box;
  width: 100%;
  font-size: 120%;
  font-family: sans-serif;
  border: solid 1px #BBB;
  border-radius: 9px;

}

.edrop-tbox:focus {

  outline: none;

}

.caret {

  position: absolute;
  width: 10px;
  height: 10px;
  left: 95%;
  top: 50%;
  transform: translateY(-75%) rotate(-45deg);
  border: solid 1px #BBB;
  border-top: none;
  border-right: none;
  transition: transform 0.1s;

}

.edrop-optbox {

  position: absolute;
  display: none;
  box-sizing: border-box;
  height: fit-content;
  max-height: 40vh;
  width: 100%;
  border: solid 1px #BBB;
  border-top: none;
  overflow: auto;

}

.optbox-opt {

  font-size: 120%;
  font-family: sans-serif;
  text-align: left;
  padding: 5px;

}

.optbox-opt-none {

  color: #BBB;
}

.optbox-opt:hover {

  background-color: #CCC;

}
