<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/smartSelect.css">
    <script type="text/javascript" src="../static/smartSelect.js"></script>
    <title>Smart Select Implementation</title>
  </head>
  <body>
    <select name="animal" data-placeholder="Select a Pet" id="wioe" class="smart-select smart-select-mobileo">
      <option value="cat">Cat</option>
      <option value="dog">Dog</option>
      <option value="mouse">Mouse</option>
      <option value="rat">Rat</option>
      <option value="ferret">Ferret</option>
      <option value="hamster">Hamster</option>
      <option value="fish">Fish</option>
      <option value="horse">Horse</option>
      <option value="pony">Pony</option>
      <option value="turtle">Turtle</option>
      <option value="snake">Snake</option>
      <option value="lizard">Lizard</option>
    </select>
    <script type="text/javascript">
      var ssel;
      window.onload = function() {
        ssel = educateDropdown(document.getElementsByName("animal")[0]);
      };
    </script>
  </body>
</html>
